{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1 class="mb-3">History</h1>
    <div>
        <h3>Name : {{ username }}</h3>
    </div>
        <table class="table table-dark">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Transaction</th>
                <th>Shares</th>
                <th>Price at time of transaction</th>
                <th>Time of transaction</th>
                <th>Current price</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio %}
            <tr>
                <td>{{ stock["symbol"] }}</td>
                <td>{{ stock["transaction"] }}</td>
                <td>{{ stock["shares"] }}</td>
                <td>{{ stock["price"] }}</td>
                <td>{{ stock["time"] }}</td>
                <td>{{ stock["priceNow"] }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
